*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
}

body{
    background-color: navajowhite;
    background-image: url('https://images.pexels.com/photos/1527934/pexels-photo-1527934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
}

hr{
    margin: 5px auto;
}

#struttura{
    width: 500px;
    margin: 10px auto;
}

#cerchio{
    background-color: mintcream;
    border-radius: 50%;
    padding: 3px;
}

.testo{
    font-style: italic;
    color: gray;
}

h1{
    display: inline-block;
}


footer{
    text-align: center;
    font-size: 10px;
}

.riga{
    padding: 0 2%;
    background-color: peachpuff;
    border: 1px solid black;
}

#riga-letta{
    background-color: lightyellow;
}
